* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(48, 46, 46);
    padding: 0px 10px; 
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    min-width: 250px;
}


.left-side {
    display: flex; 
    flex-wrap:nowrap; 
    align-items: center;
    gap: 2rem; 
    
}

.right-side {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem; 
    padding: 0; 
    margin: 0;
    justify-content:end;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.leftside-img {
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    color: white;   
}

.rightside-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    color: white;
}



.leftside-item {
    width: 100px;  
    object-fit: contain; 
    transition: transform 0.3s ease;
}


.leftside-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.rightside-item {
    width: 100px;      
    object-fit: contain; 
    transition: transform 0.3s ease;
}

.rightside-item:hover 
{
    transform: scale(1.1);
    cursor: pointer;
}


.brand-banner {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    background-color: black;
    align-items: center;

    
    
}

.brand-img {
    width: 350px;
    align-items: center;
    justify-content: center;
    right: 0;
}

.brand-socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    padding-right: 10px;
    position: absolute;
    gap: 1rem;
}

.brand-socialmedia i {
    gap:2rem;
}
        
.brand-socialmedia i {
    font-size: 25px;
    color: white; 
    transition: transform 0.3s case; 
}

.brand-socialmedia i:hover {
    transform: scale(1.2); 
}

.sm-brands {
    background-color: gray;
    border-radius: 50%;
    padding: 7.5px;
    justify-content: center;
    align-items: center;
}

.row_nav { 
    display: flex;
    background-color: black;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 0px 10px;
    font-weight: 600;
    padding-bottom: 25px;
}

.nav_header{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 1rem; 
}

.nav_header li a {
    color: white;
    transition: transform 0.3s ease;
}

.nav_header li a:hover{
    color: orange;
    text-decoration: underline;
    transform: scale(1.5) !important;
}



.nav_header:hover {
    cursor: pointer; 
}

.search {
    display: flexbox;
    position: absolute;
    right: 0;
    padding: 20px 30px;
    background-color: gray;
    padding: 7.5px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}
