* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(48, 46, 46);
    padding: 0; 
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    min-width: 250px;
}


.left-side {
    display: flex; 
    flex-wrap:nowrap; 
    align-items: center;
    gap: 2rem; 
    
}

.right-side {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem; 
    padding: 0; 
    margin: 0;
    justify-content:end;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.leftside-img {
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 55px;
    color: white;   
}

.rightside-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 55px;
    color: white;
}



.leftside-item {
    width: 100%;     
    height: 100%; 
    object-fit: contain; 
    transition: transform 0.3s ease;
}


.leftside-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.rightside-item {
    width: 100%;     
    height: 100%; 
    object-fit: contain; 
    transition: transform 0.3s ease;
}

.rightside-item:hover 
{
    transform: scale(1.1);
    cursor: pointer;
}


.brand-banner {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    background-color: black;
    align-items: center;

    
    
}

.brand-img {
    width: 700px;
    height: 150px;
    padding-top: 0px;
    margin-top: 80px;
    padding-bottom: 5px;
    margin-top: -18px;
    align-items: center;
    padding-left: 350px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.brand-socialmedia {
    justify-content: right;
    width: 150px;
    height: 50px; 
    justify-content: flex-end;
    padding-left: 0;
    margin-top: 0;
    padding-top: 10px;
}

.brand-socialmedia i {
    gap:2rem;
}
        
.brand-socialmedia i {
    font-size: 30px;
    color: white; 
    transition: transform 0.3s case; 
}

.brand-socialmedia i:hover {
    transform: scale(1.2); 
}

.row_nav { 
    display: flex;
    background-color: black;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.nav_header{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 1.5rem; 
}

.nav_header li a {
    color: white;
    transition: transform 0.3s ease;
}

.nav_header li a:hover{
    color: orange;
    text-decoration: underline;
    transform: scale(1.5) !important;
}



.nav_header:hover {
    cursor: pointer; 
}